@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap");

/* Basic styling */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.3s;
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ffb703;
}

.kolker {
  font-family: "Kolker Brush", cursive;
  font-size: 3rem;
  line-height: 0;
}

section {
  /* padding-bottom: 6rem;
  padding-left: 10%;
  padding-right: 10%; */
  padding: 2rem 10%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 99%), url("../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr;
  align-items: center;
}

/* Mobile menu */
nav {
  padding: 0 10%;
  background-color: rgba(255, 255, 255, .7);
  transition: all .3s ease;
}

nav:has(.menu.active) {
  background-color: rgba(255, 255, 255, 1);
  transition: all .3s ease;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  align-items: center;
  display: flex;
  padding: 15px 5px;
  gap: 1rem;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #222;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu>a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color: #111;
}

.header__text {
  justify-self: center;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
}

.header__text h1 {
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: rgb(255, 183, 3);

}

main {
  padding: 5% 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-column-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-column-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-row {
  grid-template-columns: 1fr;
}

.grid-column-1-2 {
  grid-template-columns: 1fr 2fr;
}

.grid-column-2-1 {
  grid-template-columns: 2fr 1fr;
}

.box {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: flex-start;
  /* row-gap: 5px; */
  padding: 15px 25px;
  word-break: break-word;
  text-align: center;
}

.box p {
  font-size: 0.9rem;
}

.h-300 {
  height: 300px;
}

.card {
  display: flex;
  flex-flow: column;
  align-content: flex-end;
  justify-content: center;
  row-gap: 5px;
  background-color: #fff;
  border-radius: 0.6rem;
  /* height: 400px; */
  /* cursor: pointer; */
  padding: 30px 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover {
  transform: translateY(-10px);
}

.card p {
  font-size: 0.9rem;
}

.section-title {
  margin-bottom: 4rem;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #ffb703;
}

.heder-phone {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.heder-phone span {
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
}

.bg-special {
  background-color: #ffb703;
}

.txt-white {
  color: #fff;
}

.txt-big {
  font-weight: 600;
  font-size: 2rem !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

#section-contact h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

#section-contact p,
#section-contact a,
#section-contact address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

#section-contact p:hover,
#section-contact a:hover {
  color: #ffb703;
  cursor: pointer;
}

.mv-daynames-table {
  color: #ffb703 !important;
}

#section-contact ion-icon {
  font-size: 1.2rem;
  color: #ffb703;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
}

.contact-form .btn {
  display: flex;
  justify-self: flex-end;
  border-radius: 5px;
  padding: 0.5rem 5rem;
  border: 1px solid #ffb703;
  color: #222;
  background-color: #ffb703;
  font-weight: 600;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-form .btn:hover {
  background-color: transparent;
  color: #ffb703;
  gap: 0.3rem;
}

.contact-form .btn ion-icon {
  color: #222 !important;
  font-size: 1rem !important;
  transition: all 0.3s;
}

.contact-form .btn:hover ion-icon {
  color: #ffb703 !important;
}

footer {
  text-align: center;
  padding-bottom: 2rem;
}

footer a,
footer span {
  transition: all 0.3s;
}

footer a:hover span {
  color: #ffb703;
}

#buttonToTop {
  display: flex;
  background-color: #ffb703;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 25px;
  position: fixed;
  bottom: 100px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s transfrom 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
}

#buttonToTop:hover {
  cursor: pointer;
  background-color: #333;
  transform: rotate(360deg);
}

#buttonToTop:active {
  background-color: #555;
}

#buttonToTop.show {
  opacity: 1;
  visibility: visible;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  nav {
    background-color: transparent;
  }

  .menu {
    align-items: center;
    flex-wrap: nowrap;
    background: none;
  }

  .menu li a span {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }

  .toggle {
    display: none;
  }

  .submenu-active {
    border-radius: 0;
  }

  .header__text {
    width: 50%;
    justify-self: flex-start;
    margin-left: 10%;
    background-color: transparent;
  }

  .header__text h1 {
    line-height: 5rem;
    font-size: 5rem;
  }
}

@media all and (min-width: 960px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-row {
    grid-template-columns: repeat(2, 1fr);
  }
}