@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
a {
  color: #222;
  text-decoration: none;
  transition: all 0.3s;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ffb703;
}

header {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.9) 99%), url("../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10fr;
  align-items: center;
}

nav {
  padding: 0 10%;
}

/* Mobile menu */
nav {
  background-color: #fff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #222;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
}

.header__text {
  justify-self: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  /* border-radius: 5px; */
  text-align: center;
  backdrop-filter: blur(1px);
}

.header__text h1 {
  font-size: 3rem;
  /* text-transform: uppercase; */
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  nav {
    background-color: transparent;
  }
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}
